# Python
__pycache__/
*.pyc

# Virtual env
venv/
.bakushin/
.bakushin_env/
*.egg-info/


# Streamlit cache
.streamlit/

# Images (เก็บใน local เท่านั้น)


# OS files
.DS_Store
Thumbs.db
# IDE
.idea/

# AWS key
key/*.pem